---
import Info from "./aboutus/Info.astro";
import Standars from "./aboutus/Standars.astro";
---

<section id="about-us" class="bg-light text-dark-secondary py-32" aria-labelledby="about-us-title">
  <div class="main-container">
    <Info />
    <Standars />
  </div>
</section>
