---
import Info from '@/sections/home/aboutus/Info.astro'
import Standars from '@/sections/home/aboutus/Standars.astro'
---

<section id="about-us" class="light-section py-32" aria-labelledby="about-us-title">
  <div class="main-container">
    <Info />
    <Standars />
  </div>
</section>
