---
import CTA from '@/components/CTA.astro'
import { Image } from 'astro:assets'
import heroImage from '@/assets/images/hero.jpg'
---

<section id="home" class="relative overflow-hidden py-40" aria-labelledby="hero-title">
  <Image
    src={heroImage}
    format="webp"
    alt="Personas trabajando frente a computadoras en una oficina moderna."
    class="absolute inset-0 -z-20 h-full w-full object-cover"
  />
  <div class="bg-dark-primary/80 absolute inset-0 -z-10 bg-blend-overlay"></div>
  <div class="main-container text-light-primary">
    <h1
      id="hero-title"
      class="mb-10 text-center text-4xl leading-tight font-black sm:mx-10 sm:text-5xl lg:text-6xl"
    >
      Impulsa tu negocio con una página web completa y accesible
    </h1>
    <p
      class="mx-10 mb-10 text-center text-base leading-relaxed sm:mx-20 sm:mb-20 sm:text-lg lg:text-xl"
    >
      Diseñamos páginas web modernas, rápidas y seguras para profesionales y negocios en México,
      listas para impulsar tu presencia digital desde el primer día.
    </p>
    <div class="flex flex-col items-center justify-center gap-6 sm:flex-row">
      <CTA
        text="Cotiza tu página hoy"
        message="Buen día, quiero cotizar una página web, ¿me podrían enviar información?"
      />
      <a
        class="border-light-primary hover:bg-dark-secondary font-display focus-visible:ring-light-primary border px-4 py-2 text-center text-base font-medium transition-all duration-300 outline-none focus-visible:ring-2 focus-visible:ring-offset-2 md:text-lg"
        href="#services">Ver servicios</a
      >
    </div>
  </div>
</section>
