---
import ServiceLandingPage from '@/sections/home/services/ServiceLandingPage.astro'
import ServiceFullWeb from '@/sections/home/services/ServiceFullWeb.astro'
import Comparative from '@/sections/home/services/Comparative.astro'
---

<section id="services" class="dark-section pt-32" aria-labelledby="services-main-heading">
  <div class="main-container">
    <h2
      id="services-main-heading"
      class="text-accent mb-8 text-center text-sm font-black tracking-widest uppercase"
    >
      Servicios
    </h2>
  </div>
  <ServiceLandingPage />
  <ServiceFullWeb />
  <Comparative />
</section>
