---
import { Icon } from 'astro-icon/components'

import CTA from '@/components/CTA.astro'
---

<section class="main-container light-section py-32" aria-labelledby="error-heading">
  <h1
    id="error-heading"
    class="text-dark-primary text-center text-3xl leading-tight font-black uppercase sm:text-4xl"
  >
    Error
  </h1>
  <div class="text-accent flex items-center justify-center gap-x-5">
    <Icon
      name="tdesign:search-error"
      class="h-24 w-24 transform-[translateZ(0)] will-change-transform backface-hidden sm:h-40 sm:w-40"
      aria-hidden="true"
    />
    <h2 class="text-9xl leading-tight font-black sm:text-[192px]">404</h2>
  </div>
  <h3 class="text-dark-primary text-center text-xl leading-tight font-black uppercase sm:text-2xl">
    Ups, parece que esta página no existe.
  </h3>

  <p class="text-dark-primary mt-32 mb-5 text-center text-lg leading-relaxed font-bold lg:text-2xl">
    ¿Qué pudo pasar?
  </p>
  <ul class="mb-16 text-center text-base leading-relaxed sm:text-xl">
    <li class="mb-2">La URL tiene un error de escritura.</li>
    <li class="mb-2">Estás siguiendo un enlace antiguo o desactualizado.</li>
    <li>La página fue renombrada o eliminada.</li>
  </ul>
  <p class="text-dark-primary mb-32 text-center text-base leading-relaxed font-bold sm:text-xl">
    Pero no te preocupes, puedes volver al inicio, comunicarte con nosotros o explorar nuestros
    servicios.
  </p>

  <div
    class="flex flex-col items-center justify-center gap-y-5 sm:flex-row sm:justify-around sm:gap-y-0"
  >
    <a
      class="bg-dark hover:bg-dark/90 text-light-primary hover:text-light-primary/90 font-display focus-visible:ring-dark px-4 py-2 text-center text-base font-medium transition-all duration-300 outline-none focus-visible:ring-2 focus-visible:ring-offset-2 md:text-lg"
      href="/"
    >
      Volver al inicio
    </a>
    <CTA
      text="Quiero información"
      message="Buen día, requiero información de los servicios que ofrece CORUZ"
    />
    <a
      class="border-dark hover:bg-dark/10 font-display focus-visible:ring-dark border px-4 py-2 text-center text-base font-medium transition-all duration-300 outline-none focus-visible:ring-2 focus-visible:ring-offset-2 md:text-lg"
      href="/#services"
    >
      Explorar servicios
    </a>
  </div>
</section>
