---
import Main from '@/layouts/Main.astro'

import Header from '@/sections/Header.astro'
import ErrorContent from '@/sections/error/ErrorContent.astro'
import Footer from '@/sections/Footer.astro'

Astro.response.status = 404
---

<Main>
  <Header />
  <main>
    <ErrorContent />
  </main>
  <Footer />
</Main>

<script>
  if (typeof window !== 'undefined') {
    const errorPath = '/404'
    const { search, hash } = window.location
    if (window.location.pathname !== errorPath) {
      window.history.replaceState(null, '', errorPath + search + hash)
    }
  }
</script>
