---
import Main from "@/layouts/Main.astro";
import Header from "@/sections/Header.astro";
import Hero from "@/sections/home/Hero.astro";
import AboutUs from "@/sections/home/AboutUs.astro";
import Features from "@/sections/home/Features.astro";
import ServiceLandingPage from "@/sections/home/ServiceLandingPage.astro";
import Services from "@/sections/home/Services.astro";
import Footer from "@/sections/Footer.astro";
---

<Main>
  <Header />
  <Hero />
  <AboutUs />
  <Features />
  <section id="services">
    <ServiceLandingPage />
  </section>
  <Services />
  <Footer />
</Main>
