---
import Main from "@/layouts/Main.astro";
import Header from "@/sections/Header.astro";
import Hero from "@/sections/home/Hero.astro";
import AboutUs from "@/sections/home/AboutUs.astro";
import Features from "@/sections/home/Features.astro";
import Footer from "@/sections/Footer.astro";
---

<Main>
  <Header />
  <Hero />
  <AboutUs />
  <Features />
  <div id="services" class="h-screen bg-green-200"></div>
  <Footer />
</Main>
