---
import Main from "@/layouts/Main.astro";
import Header from "@/sections/Header.astro";
---

<Main>
  <Header />
  <div id="home" class="h-screen bg-amber-200"></div>
  <div id="about-us" class="h-screen bg-blue-200"></div>
  <div id="services" class="h-screen bg-green-200"></div>
</Main>
