---
interface Props {
  feature: string
  LPL: boolean
  LPS: boolean
  FW: boolean
}

const { feature, LPL, LPS, FW } = Astro.props

const divider = LPL !== LPS
---

<div
  role="row"
  class:list={[
    'border-muted grid w-full border-b text-sm leading-relaxed sm:text-base',
    {
      'grid-cols-2 lg:grid-cols-[40%_30%_30%]': !divider,
      'grid-cols-[25%_25%_50%] lg:grid-cols-[40%_15%_15%_30%]': divider,
    },
  ]}
>
  <p
    role="rowheader"
    class:list={[
      'border-muted flex items-center border-b-2 py-4 pr-6 lg:border-none',
      {
        'col-span-2 lg:col-span-1': !divider,
        'col-span-3 lg:col-span-1': divider,
      },
    ]}
  >
    {feature}
  </p>
  {
    divider && (
      <p
        role="cell"
        class:list={[
          'border-muted flex flex-col items-center justify-center border-r bg-white px-6 py-4 text-center font-bold',
          {
            'text-accent': LPL,
            'text-muted': !LPL,
          },
        ]}
      >
        <span aria-hidden="true">{LPL ? '✓' : '✗'}</span>
        <span class="sr-only">{LPL ? 'Incluido' : 'No incluido'}</span>
      </p>
    )
  }
  <p
    role="cell"
    class:list={[
      'flex flex-col items-center justify-center bg-white px-6 py-4 text-center font-bold',
      {
        'text-accent': LPS,
        'text-muted': !LPS,
      },
    ]}
  >
    <span aria-hidden="true">{LPS ? '✓' : '✗'}</span>
    <span class="sr-only">{LPS ? 'Incluido' : 'No incluido'}</span>
  </p>
  <p
    role="cell"
    class:list={[
      'flex flex-col items-center justify-center px-6 py-4 text-center font-bold',
      {
        'text-accent': FW,
        'text-muted': !FW,
      },
    ]}
  >
    <span aria-hidden="true">{FW ? '✓' : '✗'}</span>
    <span class="sr-only">{FW ? 'Incluido' : 'No incluido'}</span>
  </p>
</div>
