---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import aboutUsImage from '@/assets/images/about-us.jpg'
---

<div>
  <div class="flex flex-wrap items-center justify-between gap-10 xl:gap-0">
    <div class="mx-auto flex max-w-3xl flex-col justify-start gap-5 lg:flex-1">
      <Icon
        name="about-us"
        class="text-dark h-16 w-16 transform-[translateZ(0)] will-change-transform backface-hidden sm:h-20 sm:w-20"
        aria-hidden="true"
      />
      <h3
        id="about-us-title"
        class="text-dark-primary text-3xl leading-tight font-bold sm:text-4xl"
      >
        Un equipo dedicado a impulsar tu negocio en línea
      </h3>
      <p class="text-base leading-relaxed sm:text-lg">
        En <strong>CORUZ</strong> creamos páginas web modernas, seguras y funcionales que destacan en
        el mercado. Nuestro compromiso es ofrecerte sitios a medida que impulsen el crecimiento de tu
        negocio en México. <strong>Tu éxito online es también el nuestro.</strong>
      </p>
    </div>
    <div class="mx-auto flex max-w-3xl justify-center lg:flex-1 lg:justify-end">
      <Image
        src={aboutUsImage}
        format="webp"
        height={384}
        width={576}
        class="h-auto w-full object-cover sm:max-w-xl lg:h-80 lg:w-auto"
        alt="Personas trabajando con laptops alrededor de una mesa en una oficina."
      />
    </div>
  </div>
</div>
