---
import StandarsElement from '@/components/StandarsElement.astro'

const features = [
  {
    icon: 'streamline-ultimate:responsive-design',
    title: 'Diseño Adaptable y Moderno',
    description:
      'Tu sitio se verá increíble en cualquier dispositivo, garantizando una experiencia óptima para tus clientes.',
  },
  {
    icon: 'mingcute:ai-line',
    title: 'Optimización Total',
    description:
      'Sitios rápidos y ligeros, optimizados para buscadores y los nuevos asistentes de Inteligencia Artificial.',
  },
  {
    icon: 'entypo:email',
    title: 'Correo Profesional',
    description:
      'Proyecta una imagen confiable con cuentas de correo bajo tu propio dominio (ej. info@tunegocio.com).',
  },
  {
    icon: 'uil:server',
    title: 'Alojamiento Web',
    description:
      'Servidores estables, seguros y de alta velocidad para que tu web esté siempre disponible.',
  },
  {
    icon: 'stash:domain',
    title: 'Dominio .com propio',
    description: 'Te ayudamos a elegir el nombre perfecto para tu marca y lo registramos por ti.',
  },
  {
    icon: 'material-symbols:security-rounded',
    title: 'Seguridad y Certificado SSL',
    description:
      'Incluimos protección avanzada para que la navegación de tus usuarios sea siempre segura y privada.',
  },
]
---

<div class="mt-32" aria-labelledby="standards-title">
  <h4
    id="standards-title"
    class="text-dark-primary mx-auto mb-20 max-w-md text-xl leading-tight font-bold sm:max-w-full sm:text-2xl"
  >
    Estándares de calidad incluidos en cada proyecto.
  </h4>
  <div
    class="mx-auto grid max-w-md grid-cols-1 gap-x-12 gap-y-12 sm:max-w-full sm:grid-cols-2 lg:grid-cols-3"
    role="list"
  >
    {
      features.map(({ icon, title, description }) => (
        <StandarsElement icon={icon} title={title} description={description} />
      ))
    }
  </div>
</div>
