---
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
---

<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <!-- TODO: config astro-seo (meta info) -->
    <!-- ! Remove after config astro-seo -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- ! ----------------------------- -->

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Diseño y Desarrollo de Páginas Web en México | CORUZ</title>
    <ClientRouter />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
